# Build Output
/dist/
/public/build/

# Node
/bower_components/
/node_modules/
npm-debug.log*
package-lock.json
shrinkwrap.yaml
yarn-error.log
yarn.lock

# Caches
.eslintcache
.stylelintcache
tsconfig.tsbuildinfo
